@media screen and (max-width:991px) {

#autoA{
    background-color: rgb(21, 124, 7);
    border: none;
    /* margin-left: 20rem;
    margin-top: 1rem; */
}

h1{
    color:  rgb(21, 124, 7);
}

body {
    background-image: url("../img/sfondoconlogo.png"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
      
  }

#lista li{
    display: flex;
    width: 80%;
     margin-top: 1rem;;
}

#btndelete{
    width: 3rem;
    height: 4.2rem;
     margin-top: 1rem; 

}

main::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; 
  }

}


@media screen and (min-width:992px) {
/* main {
    /* position: relative; 
    height: 90.3vh;
  
    
} */

/* main::before {
    content: "";
    background-image: url("../img/sfondoconlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: -1;
    filter: brightness(0.2);
} */

body {
    background-image: url("../img/sfondoconlogo.png"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
      
  }

main::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; 
  }

#lista li {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;  
    width: 100vh; 
    
}

/* #nav{
    display: flex;
    justify-content: end;
} */

#lista{
    /* background-color: rgba(215, 215, 215, 0.3); */
}
#btndelete{
    width: 4rem;
    height: 2.67rem;
    margin-bottom: 0.5rem;

}
#del, #cha{
   font-size:  1.5rem;
}
/* #container{
    margin-top: 5rem;
} */

#form{
    /* background-color: rgba(215, 215, 215, 0.3); */
 
     color:black;
     border-left: 5px solid rgb(255, 255, 255);
     padding: 2%;
     height: auto;
     /* border-bottom: 5px solid rgb(255, 255, 255); */
}
#tutto{
    /* background-color: rgba(215, 215, 215, 0.3); */
    height: 40rem;
    /* margin-top: 5rem; */
    
}

h1{
    color:  rgb(21, 124, 7);;
}
.full-height-row {
    min-height: 80vh; /* Imposta l'altezza minima a 80% della viewport height */ 
    
}

.square-button {
    /* margin-top: 30%; */
    width:10rem; 
    height:10rem;
}

#autoA{
    background-color: rgb(21, 124, 7);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  
} 

}
