main {
    position: relative;
  height: 100vh;

  color: white;

  
    
}

main::before {
    content: "";
    background-image: url("../img/sfondoconlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* opacity: 0.5; Opacità dell'immagine di sfondo */
    z-index: -1; /* Posiziona l'immagine di sfondo dietro il contenuto */
    filter: brightness(0.2);
}

#container{
    margin-top: 6.7rem;
    
    
}

  #bgAuto{
    /* background-color: rgba(186, 183, 183, 0.7); */
    background-color:transparent;
  }
  #bgAuto img{
    filter: brightness(0.8);
    margin-left: -0.8rem;
    color: white;
  }

  .card{
    border:none;
  }

  #logo {
    height: 3rem;
  }
  header nav a {
    color: green!important;
  }
  header nav a:hover {
    color: rgb(53, 211, 53)!important;
  }
  #cont{

    margin-top: 6.7rem;
  
  }

  @media screen and (max-width:991px) {
    main {
      position: relative;

  
    color: rgb(255, 255, 255);
  
    
      
  }
  main::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; 
  }

#cont{
  margin-left: 2rem;
}



  }