main {
    position: relative;
  
    
}

main::before {
    content: "";
    background-image: url("../img/sfondoconlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* opacity: 0.5; Opacità dell'immagine di sfondo */
    z-index: -1; /* Posiziona l'immagine di sfondo dietro il contenuto */
    filter: brightness(0.2);
}

#container{
    margin-top: 6.7rem;
    
    
}

  #bgAuto{
    /* background-color: rgba(186, 183, 183, 0.7); */
    background-color:transparent;
    color:white;
  }
  #bgAuto img{
    filter: brightness(0.8);
    margin-left: -0.8rem;
  }

  .card{
    border:none;
  }