main {
    position: relative;
  
    
}

main::before {
    content: "";
    background-image: url("../img/imgautomare.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* opacity: 0.5; Opacità dell'immagine di sfondo */
    z-index: -1; /* Posiziona l'immagine di sfondo dietro il contenuto */
    filter: brightness(0.3);
}

#container{
    margin-top: 10rem;
    
    
}

.swiper {
    width: 50rem;
    height: 20rem;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 15px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  #bgAuto{
    /* background-color: rgba(186, 183, 183, 0.7); */
    background-color:transparent;
    color:white;
  }
  #bgAuto img{
    filter: brightness(0.8);
    margin-left: -0.8rem;
  }